html, body {
    margin: 0;
    font-family: 'Trebuchet MS';
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1500px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 80%;
}
.menu {
    color: white;
    width: 20%;
    background-color: rgb(252, 93, 93);
    content: "";
    display: table;
    clear: both
}
.submenu {
    display: table-cell;
}
.header {
    background-color: rgb(5, 108, 108);
    min-height: 65px;
}
.content {
    background-color: white;
    min-height: 400px;
    padding: 20px;
}
.footer {
    background-color: rgb(5, 108, 108);
    min-height: 50px;
    text-align: center;
}
a {
    text-decoration-line: none;
}
.titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color:rgb(255, 0, 0);
    font-weight: bolder;
    margin-top: 0px;
    margin-bottom: 10px;
}
.row {
    margin: 15px;
}
.cell-input {
    width: 300px;
}

label {
    width: 100px;
    text-align: right;
    display: inline-block;
    padding-right: 5px;
}
.btn {
    min-width: 100px;
    min-height: 25px;
}
.menu-row {
    display: inline-block;
    color: white;
    width: 100%;
    min-height: 50px;
    font-size: large;
}

.menu-row:hover {
    background-color: rgb(91, 235, 187);
    color: red;
}
.table-row {
    text-align: center;
}
table {
    border: solid 1px gray;
}
table thead th {
    background-color: rgb(185, 183, 183);

}
table tbody tr:nth-child(even) td {
    background-color: rgb(228, 222, 222);
}
table tbody tr:hover {
    background-color: rgb(128, 128, 128);
    color: rgb(51, 46, 46);
    font-weight: bolder;
}